.header {
  padding: 10px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: lighten($headerColor, 15%);
  z-index: 9999;
}

.btn {
  background-color: $buttonColor !important;
}
