.header {
  padding: 10px 5px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: lighten($headerColor, 15%);
  z-index: 9999;
}

.btn {
  background-color: $contentColor !important;
  margin-left: 10px;
  font-size: 0.8rem;
  padding: .375rem .6rem;
  width: 90px;
}

.select-style {
  height: 37.54px;
}

.select-type {
  border-right: 1px black solid;
}

.align-right {
  text-align: right;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 15px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.progress-bar {
  background-color: lighten($contentColor,15%);
  height: 15px;
  width: 0%;
  z-index: 1000;
}
